.detail-charts {
  padding: 5rem 0 0 0;
  margin-bottom: 5rem;
}

.limit {

  form {

    .form-group {

      label {
        display: inline-block;
        margin-right: 1rem;
      }

      .form-control {
        width: 15rem;
        display: inline-block;
        margin-right: 1rem;
      }

      .btn {

      }

    }

  }

}