// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-dark: #0d0d0d;

$color-blue: #068ec8;
$color-green: #059672;

// Fonts
$font-heading: 'Secular One', sans-serif;
$font-default: 'Roboto', sans-serif;